.DS_Store
node_modules
/dist
Spotify.vue
SpotifyDashboard.vue
TrackSearchResult.vue
Player.vue
UseAuth.vue
tailwind.config.js
server

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
